@tailwind base;
@tailwind components;
@tailwind utilities;



.link{
    color: black;
    cursor: pointer;
}

.primary-color{
    color: black;
}
.unselected-color{
    color: #869CB8;
}
a.unselected-color:hover{
    color: black;
}